{extend name="base/base" /}

{block name="tdk"}
{volist name="sytdkResult" id="sytdk"}
{volist name="gywmgsrytdkResult" id="gywmgsrytdk"}
{if $gywmgsrytdk.tdktitle==null}
<title>{$sytdk.tdktitle}</title>
{else}
<title>{$gywmgsrytdk.tdktitle}</title>
{/if}
<meta name="Description" Content="{$gywmgsrytdk.tdkdescription}">
{if $gywmgsrytdk.tdkkeywords==null}
<meta name="Keywords" Content="{$sytdk.tdkkeywords}">
{else}
<meta name="Keywords" Content="{$gywmgsrytdk.tdkkeywords}">
{/if}
{/volist}
{/volist}
{/block}

{block name="content"}
<!--内页大图开始-->
<div class="nybanner" aos="fade-up" aos-easing="ease" aos-duration="700">
  {volist name="largeimgResult" id="largeimg"}
  <img src="{$largeimg.img}" alt="">
  {/volist}
</div>
<!--内页大图结束-->
<div class="submian">
  <div class="w1200 clearfix">
    <div class="sobtitle"><s class="ico"></s>您的位置：<a href='/index.html'>主页</a> > 
        {volist name="navbarResult" id="navbar"}
        {if $key == 0}
        <a href='/gywmindex.html'>{$navbar.navbar}</a> >
        {volist name="navbarsonResult" id="navbarson"}
        {if $navbar.id == $navbarson.state}
        {if $navbarson.id == 2}
        <a href='/gywm_gsry.html'>{$navbarson.navbarson}</a>
        {/if}
        {/if}
        {/volist}
        {/if}
        {/volist}
    </div>
    <div class="subleft fl"> 
  <!--栏目分类开始-->
  <div class="lefta bor9">
    <div class="title">
        {volist name="navbarResult" id="navbar"}
        {if $key == 0}
      <h2>{$navbar.navbar}</h2>
      {/if}
              {/volist}
    </div>
    <div class="comt">
      <ul>
        {volist name="navbarResult" id="navbar"}
        {if $key == 0}
        {volist name="navbarsonResult" id="navbarson"}
        {if $navbar.id == $navbarson.state}
        <li class='{if $navbarson.id == 2}hover{/if}'><a href="/{$navbarson.link}.html" title="{$navbarson.navbarson}">{$navbarson.navbarson}</a> </li>
        {/if}
        {/volist}
        {/if}
        {/volist}
      </ul>
    </div>
  </div>
  <!--栏目分类结束--> 
  
  <!--推荐产品开始-->
  {include file="content/content" /}
  <!--联系我们结束--> 
</div>

    <div class="subright fr">
      <!--单页内容开始-->
    <div class="aboutlist">
      {volist name="gywmgsryResult" id="gywmgsry"}
      <div style="display:inline-block;">
           <img alt="" src="{$gywmgsry.img}" class="imgs" style="{if ($key+1)%3==0}margin-right:0px;{/if}">
      </div>
      {/volist}
<div id="meng">
    <div class="img-box">
        <img src="" id="img">
        <span class="close">X</span>
    </div>
</div>



</div>
      <!--单页内容结束--> 
    </div>
  </div>
</div>
<!--页尾开始-->
{/block}
{block name="js"}
<script>
  window.onload = function() {
    $(".imgs").on("click", function() {
        var str = $(this).attr("src")
        $("#meng").css("display", "block");
        $("#img").attr("src", str);

    });
    $(".close").click(function() {
        $("#meng").css("display", "none");
        $("#img").css({
            height: "300px",
            width: "400px",
            top: 0,
            left: 0
        });　
    });
    //    图片放大缩小事件
    var scrollFunc = function(e) {
        var Oimg = document.getElementById("img");
        e = e || window.event || document.event;
        if (e.wheelDelta) { //判断浏览器IE，谷歌滑轮事件               
            if (e.wheelDelta > 0) { //当滑轮向上滚动时
                var hei = Oimg.height;
                var wid = Oimg.width;
                $("#img").css({
                    height: hei + 100 + "px",
                    width: wid + 100 + "px"
                })　　　　
            }
            if (e.wheelDelta < 0) { //当滑轮向下滚动时  
                var hei = Oimg.height;
                var wid = Oimg.width;
                $("#img").css({
                    height: hei - 100 + "px",
                    width: wid - 100 + "px"
                })　　　
            }　　　　
        } else if (e.detail) { //Firefox滑轮事件  
            if (e.detail > 0) { //当滑轮向滚动时 
                var hei = Oimg.height;
                var wid = Oimg.width;
                $("#img").css({
                    height: hei - 100 + "px",
                    width: wid - 100 + "px"
                })　　　　　
            }
            if (e.detail < 0) { //当滑轮向上滚动时  
                var hei = Oimg.height;
                var wid = Oimg.width;
                $("#img").css({
                    height: hei + 100 + "px",
                    width: wid + 100 + "px"
                })　　　
            }
        }
    }

    　　 //给页面绑定滑轮滚动事件  
    var Oimg = document.getElementById("img");　　
    if (Oimg.addEventListener) { //firefox  
        Oimg.addEventListener('DOMMouseScroll', scrollFunc, false);
    }　　 //滚动滑轮触发scrollFunc方法  //ie 谷歌  
    Oimg.onmousewheel = Oimg.onmousewheel = scrollFunc; //

    //图片拖拽
    　
    var imgobx = document.getElementsByClassName("img-box");

    var disX = 0;
    var disY = 0;


    Oimg.onmousedown = function(ev) {
        var oEvent = ev || event;

        disX = oEvent.clientX - Oimg.offsetLeft;
        disY = oEvent.clientY - Oimg.offsetTop;

        document.onmousemove = function(ev) {
            var oEvent = ev || event;
            var l = oEvent.clientX - disX;
            var t = oEvent.clientY - disY;
            if (l > imgobx.offsetWidth - Oimg.offsetWidth) {
                l = imgobx.offsetWidth - Oimg.offsetWidth;
            }
            if (t > imgobx.offsetHeight - Oimg.offsetHeight) {
                t = imgobx.offsetHeight - Oimg.offsetHeight;
            }

            Oimg.style.left = l + 'px';
            Oimg.style.top = t + 'px';
        };
        document.onmouseup = function() {
            document.onmousemove = null;
            document.onmouseup = null;
        };
        return false;
    }
};
</script>
{/block}